<h2><%= @teacher.name %></h2>

<% if @teacher.errors.any? %>
<ul>
  <% @teacher.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>
<% end %>

<ul>
  <li><%= @teacher.bio%></li>
  <% if user_signed_in? %>
    <li><%= @teacher.email %></li>
  <% end %>
  <% if  @teacher.profile_picture.attached? %>
    <li><%= image_tag rails_representation_path(@teacher.profile_picture.variant(resize_to_limit: [80, 80]).processed, only_path: true), class: 'profile-picture' %></li>
  <% end %>
</ul>

<% if user_signed_in? %>
  <%= link_to("Editar", edit_teacher_path) %>
  <br>
  <%= link_to("Excluir", teacher_path(@teacher), data: {confirm: t('teachers.destroy.confirm')}, method: :delete) %>
<% end %>
<br>
<%= link_to("Voltar", teachers_path) %>


