<h3>Edite o Curso</h3>

<% if @course.errors.any? %>
<ul>
  <% @course.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>
<% end %>

<%= form_for @course do |f| %>
	<%= f.label :name, 'Nome' %>
	  <%= f.text_field :name %>
	<%= f.label :description, 'Descrição' %>
	  <%= f.text_area :description %>
	<%= f.label :code, 'Código' %>
	  <%= f.text_field :code %>
	<%= f.label :price, 'Preço' %>
	  <%= f.text_field :price %>
	<%= f.label :enrollment_deadline, 'Data limite de matrícula' %>
	 <%= f.text_field :enrollment_deadline %>
	<%= f.submit 'Atualizar dados!' %>
<% end %>